Flask
Flask-Bootstrap
Flask-Login
Flask-SQLAlchemy
Flask-WTF

# Currently using stat reloader, but if prefer watchdog reloader...
# Werkzeug >2.3 needs at least watchdog 2.3, otherwise "EVENT_TYPE_OPENED" not available
# watchdog>=3.0  

# Flask-Script is deprecated